# Proje İçin Gerekliler
# pip install -r requirements.txt
pandas
numpy
matplotlib
seaborn
missingno
mlxtend
lifetimes
scikit-learn
learn
statsmodels
catboost
imbalanced-
lightgbm
xgboost
openpyxl
python-dateutil
pytz
six
tzdata
joblib
scipy
EOF